/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.body{

	height: 100%;
	background-color: #f1f2f7;
}
.contenedor{
	background-color: #f1f2f7;
	height: 100%;

}
.contenedorlogin{
	
	max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
.anchocontenido{
	max-width: 650px;
	margin: 30px auto 0;
	
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.contenedorlogin h2{
	margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #4387fd;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 22px;
    
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.inputtext{
	margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px;
    display: block;
    padding: 5%;
    margin: 5%;
    width: 80%;
}

.botoninicio{
  
    font-weight: 300;
    font-family: Helvetica,Arial,sans-serif;;
   	
    
    margin: 5%;
    width: 90%;
    display: block;
    text-align: center;
    /*background-color: #4387fd;*/
    color: white;
   
    border-width: thin;
    padding: 3%;
    
}
#plustrabajos, #totalhorasdiarias{
	
	text-decoration: none;
	background-color:#4387fd;
	color: white;
	padding:2%;
	margin-bottom: 0%;
	text-align: left;
	font-family: Helvetica,Arial,sans-serif;
	
}
#formtrabajos{
	border-style: solid;
	border-color: #4387fd;
	margin: 0%;
}

.contenedorlogindos p{
	padding-bottom: 2%;
}


#paghoras .cabeceraypie, #paghoras .btncabecera, #paglistadotrabajos .cabeceraypie, #paglistadotrabajos .btncabecera, #paghorasseguimiento .cabeceraypie, #paghorasseguimiento .btncabecera, #paghoras_contador .cabeceraypie, #paghoras_contador .btncabecera {
	background: #4387fd;
	border-color: #999999;
}

#listafase, #listatrabajos, #horasdetalle, #trabajosguardados ul, #selhorasbolsa ul, #trabajosguardadosusuario ul{
	width: 95%;
	margin: 2% auto 2%;
	text-shadow: 0 1px 0 white;
}
#listafase a, #listatrabajos a, #listatrabajoscampos a, #listatrabajosporcampo a, #listausuarios a{
	text-shadow: 0 1px 0 white;
	background: white;
	border-color: #4387fd;
	color: #4387fd;
	
	
}
#selhorasbolsa div{
	padding: 0;
	
}
#selhorasbolsa ul{
	margin: 0;
}
#selhorasbolsa h2 a{
	text-shadow: 0 1px 0 white;
	background: white;
	border: 1px solid #4387fd;
	color: #4387fd;
}
#selhorasbolsa a{
		text-shadow: 0 1px 0 white;
	background: white;
	
	color: #4387fd;
}
#horasdetalle{
	color: #4387fd;
	font-weight: bold;

}
#horasdetalle textarea{
	border: 1px solid #4387fd;
}


#trabajosguardados h2{




	margin-top: 6%;
    color: #4387fd;
    font-size: 22px;
    
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}



.ui-bordes{
	border: 1px solid #4387fd;
}
.trabajo .ui-labeltrabajo{
	font-size: 0.8em;
	color: #4387fd;
	font-variant: small-caps;
}
.trabajo .ui-ptrabajo{
	margin: 0;
	

}
.trabajo div{
	padding-top: 0;
	padding-bottom: 0;
}
.trabajo{
	margin-top: 2%;
	margin-bottom: 2%;
}
#totalhorasdiarias{
	height: 2.8em;
}
#labeltotalhorasdiarias, #labelbolsahoras{
	width: 90%;
	float:left;

}

#numtotalhorasdiarias, #bolsahoras{
	width: 10%;
	float: right;
}
.popuphorasrevisar{
	color: red;
}
#tablacontador{
	width: 100%;
}
#tablacontador th{
	padding:2px;
	font-size:0.8em;
	border-style: solid;
	border-color: white;
	border-width: thin;
	background-color: #4387fd;
	color: white;
	font-weight: normal;
}
#tablacontador td{
	border-style: solid;
	border-color: white;
	border-width: thin;
	color: #045FB4;
	text-align: right;
	padding: 4px;
}
/*#paghoras #panelfacturasemitidasseguimiento a{
	color: #BBBBBB;
}*/


/*PAG SEGUIMIENTO TRABAJOS */

.anchocontenidodesktop{
	width: 98.5%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
