#ptve .cabeceraypie{
	background: #4387fd;
	border-color: #999999;
}
#ptve .menu, #ptve .btncabecera{
	background: #4387fd;
	border-color: #999999;
}
#pttable .visadorojo a{
	color: #FF0000;
	background-color: #FF0000;
	
}